
.login-container {
  width: 400px;
  margin: 80px auto;
  padding: 30px 18px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 22px;
  color: #2c3e50;
}

.login-container label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

.login-container input {
  padding:  10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 3px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(26, 188, 156, 0.2);
  outline: none;
}

.error, .server-error {
  font-size: 16px !important;
  color: #e74c3c;
  /* margin-top: 4px !important; */
  /* margin-bottom: 2px; */
}



.login-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 6px;
  transition: background 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #0056b3;
}

.link-text {
  font-size: 13px;
  text-align: center;
  color: #555;
  margin-top: 2px !important;
}

.link-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.link-text a:hover {
  text-decoration: underline;
}
